Pandas series - 1D, like a column in a csv file
Pandas Dataframe - 2D, arranged in rows and columns

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Students_Grading_Dataset.csv')

In [4]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,Female,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,Male,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,None,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,Male,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,Female,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,Female,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1

In [6]:
student_ids = df['Student_ID']
student_ids

0       S1000
1       S1001
2       S1002
3       S1003
4       S1004
        ...
4995    S5995
4996    S5996
4997    S5997
4998    S5998
4999    S5999
Name: Student_ID, Length: 5000, dtype: object

In [ ]:
student_ages = df['Age']
student_ages

In [ ]:
df['Age'].head() #first five values' ages

0    22
1    18
2    24
3    24
4    23
Name: Age, dtype: int64

In [33]:
df.iloc[1]

Student_ID                                      S1001
First_Name                                      Maria
Last_Name                                       Brown
Email                         student1@university.com
Gender                                           Male
Age                                                18
Department                                Engineering
Attendance (%)                                  97.27
Midterm_Score                                   97.23
Final_Score                                      45.8
Assignments_Avg                                   NaN
Quizzes_Avg                                     94.24
Participation_Score                              8.32
Projects_Score                                  55.65
Total_Score                                     50.64
Grade                                               A
Study_Hours_per_Week                               19
Extracurricular_Activities                         No
Internet_Access_at_Home                           Yes
Parent_Education_Level                           None
Family_Income_Level                            Medium
Stress_Level (1-10)                                 4
Sleep_Hours_per_Night                               9
Name: 1, dtype: object

In [7]:
df.loc[0,['Final_Score','Family_Income_Level']]

Final_Score             57.82
Family_Income_Level    Medium
Name: 0, dtype: object

In [8]:
#pandas dataframe - reading from a json file
df.json = pd.read_json('Students_Grading_Dataset.json')
df.json.tail()

<ipython-input-8-42fdb098a85f>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.json = pd.read_json('Students_Grading_Dataset.json')

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
4995,S5995,Ahmed,Jones,student4995@university.com,Male,19,Business,NaN,82.15,60.33,...,58.42,85.21,D,25.5,No,Yes,High School,Low,10,8.3
4996,S5996,Emma,Brown,student4996@university.com,Male,19,Business,65.11,86.31,49.80,...,60.87,95.96,C,5.0,No,Yes,None,Medium,4,4.0
4997,S5997,John,Brown,student4997@university.com,Female,24,CS,87.54,63.55,64.21,...,82.65,54.25,A,24.8,Yes,No,High School,Medium,4,6.3
4998,S5998,Sara,Davis,student4998@university.com,Male,23,CS,92.56,79.79,94.28,...,94.29,55.84,A,16.1,Yes,Yes,Bachelor's,Low,1,8.4
4999,S5999,Maria,Brown,student4999@university.com,Female,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1

In [29]:
#summary statistics
df.describe()

,Age,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Study_Hours_per_Week,Stress_Level (1-10),Sleep_Hours_per_Night
count,5000.000000,4484.000000,5000.000000,5000.000000,4483.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000
mean,21.048400,75.431409,70.326844,69.640788,74.798673,74.910728,4.980024,74.924860,75.121804,17.658860,5.48080,6.488140
std,1.989786,14.372446,17.213209,17.238744,14.411799,14.504281,2.890136,14.423415,14.399941,7.275864,2.86155,1.452283
min,18.000000,50.010000,40.000000,40.000000,50.000000,50.030000,0.000000,50.010000,50.020000,5.000000,1.00000,4.000000
25%,19.000000,63.265000,55.457500,54.667500,62.090000,62.490000,2.440000,62.320000,62.835000,11.400000,3.00000,5.200000
50%,21.000000,75.725000,70.510000,69.735000,74.810000,74.695000,4.955000,74.980000,75.395000,17.500000,5.00000,6.500000
75%,23.000000,87.472500,84.970000,84.500000,86.970000,87.630000,7.500000,87.367500,87.652500,24.100000,8.00000,7.700000
max,24.000000,100.000000,99.980000,99.980000,99.980000,99.960000,10.000000,100.000000,99.990000,30.000000,10.00000,9.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              4484 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             4483 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      4016 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB

In [9]:
df[4990:5000, ['Department', 'Final Score']]

TypeError: '(slice(4990, 5000, None), ['Department', 'Final Score'])' is an invalid key

In [35]:
#summary stats for a particular column
mean_age = df['Age'].mean()
mean_age

21.0484

In [36]:
median_age = df['Age'].median()
median_age

21.0

In [37]:
sum_age  = df['Age'].sum()
sum_age

105242

In [38]:
count = df['Attendance (%)'].count()
count

4484

In [ ]:
# .map() and .apply() method
# 'map' applies a function to each element of a series and returns a new series with the function applied. 
# Often used when a transformation or substitution is needed. 
# 'apply' can be used on both Series(Element-wise) and DataFrames(Rows or Columns), returns a new Dataframe or series.
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})
df['Gender']

0       1
1       0
2       0
3       1
4       1
       ..
4995    0
4996    0
4997    1
4998    0
4999    1
Name: Gender, Length: 5000, dtype: int64

In [ ]:
#inplace = true, inplace = false...to preserve the column
#or run it from up top to restore unmapped values

In [40]:
df.head()

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,1,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,0,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,None,Medium,4,9.0
2,S1002,Ahmed,Jones,student2@university.com,0,24,Business,57.19,67.05,93.68,...,73.79,70.30,D,20.7,No,Yes,Master's,Low,6,6.2
3,S1003,Omar,Williams,student3@university.com,1,24,Mathematics,95.15,47.79,80.63,...,92.12,61.63,A,24.8,Yes,Yes,High School,High,3,6.7
4,S1004,John,Smith,student4@university.com,1,23,CS,54.18,46.59,78.89,...,68.42,66.13,F,15.4,Yes,Yes,High School,High,2,7.1

In [50]:
#filtering out engineering students
engineering_dpt = df[df['Department'] == 'Engineering']
engineering_dpt

,Student_ID,First_Name,Last_Name,Email,Gender,Age,Department,Attendance (%),Midterm_Score,Final_Score,...,Projects_Score,Total_Score,Grade,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Parent_Education_Level,Family_Income_Level,Stress_Level (1-10),Sleep_Hours_per_Night
0,S1000,Omar,Williams,student0@university.com,1,22,Engineering,52.29,55.03,57.82,...,85.90,56.09,F,6.2,No,Yes,High School,Medium,5,4.7
1,S1001,Maria,Brown,student1@university.com,0,18,Engineering,97.27,97.23,45.80,...,55.65,50.64,A,19.0,No,Yes,None,Medium,4,9.0
5,S1005,Liam,Brown,student5@university.com,0,21,Engineering,NaN,78.85,43.53,...,67.29,62.08,B,8.5,Yes,Yes,PhD,High,1,5.0
7,S1007,Ahmed,Smith,student7@university.com,0,19,Engineering,51.91,45.67,73.96,...,93.24,81.93,F,27.3,Yes,No,None,Medium,4,4.3
9,S1009,Sara,Smith,student9@university.com,1,22,Engineering,64.01,87.96,98.47,...,78.60,84.99,A,9.6,No,Yes,None,Medium,10,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,S5984,Liam,Johnson,student4984@university.com,1,20,Engineering,58.63,50.83,51.04,...,64.30,60.59,C,14.9,No,Yes,NaN,High,3,7.7
4988,S5988,John,Smith,student4988@university.com,1,19,Engineering,NaN,59.39,80.37,...,96.74,63.42,A,13.5,No,Yes,NaN,Low,5,6.4
4989,S5989,Liam,Brown,student4989@university.com,0,23,Engineering,90.50,40.81,47.07,...,83.03,76.08,A,11.3,No,Yes,High School,Low,10,5.8
4991,S5991,John,Williams,student4991@university.com,1,20,Engineering,55.54,59.68,63.09,...,81.30,89.55,D,18.8,Yes,Yes,NaN,Low,5,6.8
4999,S5999,Maria,Brown,student4999@university.com,1,21,Engineering,83.92,83.24,53.47,...,69.25,77.86,F,29.2,No,Yes,PhD,Low,2,6.1